*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: darkgray;
}

header{
    background-color: lightgray;
    width: 100%;
    height: 100px;
    position: fixed;
    padding: 40px 30px;
}

.header-sinistra{
    float: left;
}

.header-destra{
    float: right;
}

.container{
    padding: 150px 20px 0;
}

.titolo-ricerca{
    color: white;
    margin-bottom: 20px;
    display: none;
}

.titolo-ricerca.visible {
    display: block;
}

#risultati_ricerca {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    padding: 10px;
    margin: 10px;
    color: white;
    border: 1px solid white;
    background-color: black;
    list-style-type: none;
}
